
div{
	border:1px solid black;
}

/*header*/
.header{
	position: static;
	top: 0px;
	left: 0px;
	margin: 0px 5%;
	width:90%;
}
.logo{
	height:170px;
	width: 400px;
}
.login{
	position:static;
	bottom:50px;
	right: 0px;
	width: 100%;
	height:30px;
}
.menu{
	height: 50px;
	width:100%;
	text-align: center;
	line-height: 50px;
}
.menu div{
	float: left;
	width: 24%;
	height: 100%;
}
.menu[title=member] div{
	width: 33%;
}
/*main*/
.main{
	margin:0 5%;
	width:90%;
}

.ad{

	top:0px;
	height:500px;
	width:100%;
}
.ad2{
	margin-top: 10px;
	height:300px;
}
.ad2 div{
	float: left;
	height: 100%;
	width:40%;
}

.memberlist{
	position: relative;
	left: 10%;
	width: 80%;
	height: 300px;
}

.memberdata tr td{
	padding: 10px;

}

.product_main{
	position: relative;
	height: 1000px;
	left: 15%;
	width: 70%
}

.product_menu{
	position: fixed;
	left: 7%;
	height: 200px;
	width: 10%;
}
.product_menu table{
	font-size: 1.4em;
	text-align: center;
	width: 100%;
	background-color: red;
	color: white;
}
.product_menu tr td{
	border-bottom: 1px white solid;
}
.product_main div div{
	float: left;
	position: relative;
	height: 300px;
	width: 25%;
	margin:3%;
}
.product_main div div img{
width: 300px;
height: 250px;
}
input[title=order]{
	font-size:2em;
	color: white;
	width: 100px;
	position: relative;
	top: 80%;
	margin-left:auto;
	background-color: red;
}
input[title=view]{
	font-size: 2em;
	width:100px;
	position: absolute;
	top: 80%;
	right: 0;
	margin-right:auto;
	background-color: gray;
}
.product_main div{
	width: 100%;
	height: 75%;
}
div [title=introduce] img{
	margin:30px;
	width: 250px;
	height: 200px;
}
div [title=introduce] div{
	position: absolute;
	top: 30px;
	left: 300px;
	width: 60%;

}
.price{
	color: darkred;
	font-size: 1.8em;
}
.product_title{
	font-size: 2.5em;
}
/*footer*/
div .footer{
	margin-top: 5px;
	width:100%;
	height:150px;
}
